<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <div
      class="
        app-name-start
        text-900 text-2xl
        font-medium
        no-underline
        m-3
        cursor-pointer
        hidden
        lg:flex
      "
    >
      Toram Online Web
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <div
      class="
        app-name-end
        text-900 text-2xl
        font-medium
        no-underline
        m-3
        cursor-pointer
        lg:hidden
      "
    >
      Toram Online Web
    </div>
  </ng-template>
</p-menubar>
