<div class="h-screen flex items-center justify-center">
  <div class="p-6 shadow-lg rounded-md w-full lg:w-1/2">
    <div class="text-center mb-5">
      <i class="pi pi-circle-on mb-5"></i>

      <div class="text-3xl font-medium mb-3">Toram Online Web</div>
      <span class="font-medium leading-3">Don't have an account?</span>
      <a class="font-medium no-underline ml-2 cursor-pointer">Create today!</a>
    </div>

    <div>
      <label for="email" class="block font-medium mb-2">Email</label>
      <input id="email" type="text" pInputText class="w-full mb-3" />

      <label for="password" class="block font-medium mb-2">Password</label>
      <input id="password" type="password" pInputText class="w-full mb-3" />

      <div class="flex items-center justify-between mb-6">
        <div class="flex items-center">
          <p-checkbox
            id="rememberme"
            [binary]="true"
            styleClass="mr-2"
          ></p-checkbox>
          <label for="rememberme">Remember me</label>
        </div>
        <a
          class="
            font-medium
            no-underline
            ml-2
            text-blue-500 text-right
            cursor-pointer
          "
          >Forgot your password?</a
        >
      </div>

      <button
        pButton
        pRipple
        label="Sign In"
        icon="pi pi-user"
        class="w-full"
        routerLink="/"
      ></button>
    </div>
  </div>
</div>
