$borderRadius: 2px;

$fontFamily: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica,
  Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
$backgroundColor: #1a1a1a;
$textColor: #fefefe;

/* Predefined Colors */
$blue: #3ebaf8;
$orange: #f7cb00;
$purple: #985edb;
$pink: #f18983;
$green: #9fd037;
$black: #525262;
$amber: #f7cb00;
$secondary: #f4f4f4;
